<%- include("partials/header.ejs") %>

<h1>Index Page</h1>

<% posts.forEach(function(post){ %>
    
        <div>
            <h2><%=post.title%></h2>
            <img src="<%=post.image%>" alt="">
            <p><%=post.body%>....</p>
            <span><%=post.createdDate%></span>
            <a href="/blogs/<%= post._id %>" class="ui violet big basic button">Read More</a>

        </div>
    
<%});%>
<%- include("partials/footer.ejs") %>